/*---------*/
/*Reset CSS*/
/*---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/*---------*/
/*mainRules*/
/*---------*/
html, body {
  background-color: #ffffff;
  color: #008795;
  font-size: 30px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 84.44%;
  margin: auto;
  padding: 0px;
}

/*------*/
/*Header*/
/*------*/
header .site-logo {
  margin: 14px 0 14px 113px;
  height: 90px;
}

header .user-profile {
  list-style-type: none;
  float: right;
  margin-top: 16px;
}

header .user-profile li {
  float: left;
  padding: 0px 3px 3px 3px;
}

header .sign {
  text-transform: uppercase;
  font-size: 0.4em;
  letter-spacing: 0.6px;
  font-family: "Segoe UI";
  color: #008795;
  text-decoration: none;
}

header .separate-user {
  font-size: 0.5em;
  transform: translate(0px, 11px);
  -webkit-transform: translate(0px, 11px);
  -moz-transform: translate(0px, 11px);
  -o-transform: translate(0px, 11px);
  color: black;
}

header .languageAndFont {
  list-style-type: none;
  float: right;
  margin-top: 50px;
  transform: translate(110px, 0px);
  -webkit-transform: translate(110px, 0px);
  -moz-transform: translate(110px, 0px);
  -o-transform: translate(110px, 0px);
}

header .languageAndFont li {
  float: left;
  padding: 0px 3px 3px 3px;
}

header .english {
  font-size: 0.400em;
  font-family: "Montserrat";
  color: #464646;
  text-decoration: none;
}

header .english:hover, .english:focus {
  background-color: #008795;
  border: 4px solid #008795;
  border-radius: 45%;
  color: white;
}

header .en {
  background-color: #008795;
  border: 4px solid #008795;
  border-radius: 45%;
  color: white;
}

header .arabic {
  font-size: 0.400em;
  font-family: "Montserrat";
  color: #464646;
  text-decoration: none;
}

header .arabic:hover, .arabic:focus {
  background-color: #008795;
  border: 4px solid #008795;
  border-radius: 45%;
  color: white;
}

header .big-font {
  font-size: 0.667em;
  font-family: "Segoe UI";
  color: #008795;
  text-decoration: none;
}

header .small-font {
  font-size: 0.400em;
  font-family: "Segoe UI";
  text-transform: uppercase;
  color: #008795;
  text-decoration: none;
}

header .separate-options {
  font-size: 0.5em;
  transform: translate(0px, 13px);
  -webkit-transform: translate(0px, 13px);
  -moz-transform: translate(0px, 13px);
  -o-transform: translate(0px, 13px);
  color: black;
}

header .hvr-underline-from-left:before {
  background-color: #008795;
  height: 1px;
}

header .navbar {
  color: #008795;
  background-color: #f2f0f0;
  width: 100%;
  z-index: 242;
  margin: 0;
  border: none;
}

header .navbar ul {
  list-style-type: none;
  margin: 0 0 0 112px;
}

header .navbar ul li {
  float: left;
  padding: 0.4em;
}

header .navbar ul .hvr-underline-from-left:before {
  background-color: #008795;
  height: 3px;
}

header .navbar ul li a {
  font-size: 0.6em;
  font-family: "Optima";
  color: #008795;
  text-decoration: none;
}

header .navbar img {
  float: right;
  padding: 0.6em 0 0.4em 0;
}

header .navbar .down {
  font-size: 12px;
  margin-left: 4px;
}

/*------*/
/*Banner*/
/*------*/
#banner .banner-image {
  width: 100%;
  height: 470px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#banner .mouse {
  width: auto;
  text-align: center;
  display: inline-block;
}

#banner .line2 {
  width: auto;
  text-align: center;
  display: inline-block;
  transform: translate(-18px, -16px);
  -webkit-transform: translate(-18px, -16px);
  -moz-transform: translate(-18px, -16px);
  -o-transform: translate(-18px, -16px);
}

#banner .scroll {
  font-size: 0.467em;
  font-family: "Segoe UI";
  color: #c8c8c8;
  line-height: 1.714;
  text-align: center;
  text-transform: capitalize;
  transform: translate(-5px, -23px);
  -webkit-transform: translate(-5px, -23px);
  -moz-transform: translate(-5px, -23px);
  -o-transform: translate(-5px, -23px);
}

#banner .owl-dots {
  display: none;
}

.centre p:first-child {
  margin-top: 169px;
  font-size: 1em;
  font-family: "Optima";
  color: #c2f83f;
  padding: 0px;
}

.centre p:first-child span {
  font-size: 0.8em;
  color: white;
}

.centre p:nth-child(2) {
  font-family: "Optima";
  font-size: 0.8em;
  color: white;
}

.centre p:nth-child(2) span {
  font-size: 1em;
}

.centre p:nth-child(3) {
  font-family: "Optima";
  font-size: 0.8em;
  color: white;
}

.centre p:nth-child(3) span {
  text-transform: uppercase;
  font-size: 1em;
}

.centre .readMore {
  display: inline-block;
  font-family: "Optima";
  font-size: 0.6em;
  width: 160px;
  border-width: 1.5px;
  border-color: white;
  border-style: solid;
  background: transparent;
  margin-top: 49px;
  margin-right: 4px;
  padding: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.centre .donateNow {
  display: inline-block;
  font-family: "Optima";
  font-size: 0.6em;
  width: 160px;
  border-width: 1.5px;
  border-color: white;
  border-style: solid;
  background: transparent;
  margin-top: 49px;
  margin-left: 4px;
  padding: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.centre .hvr-sweep-to-right:before {
  background-color: #8dc043;
}

.centre .donateNow:hover, .donateNow:focus {
  border-color: #8dc043;
}

.centre .readMore:hover, .readMore:focus {
  border-color: #8dc043;
}

/*----------*/
/*Foundation*/
/*----------*/
#foundation {
  width: 100%;
  height: 672px;
  background-color: #ffffff;
}

#foundation h3 {
  font-family: "Optima";
  padding-top: 80px;
  font-size: 1.2em;
}

#foundation p {
  font-family: "Segoe UI";
  padding-top: 5px;
  font-size: 0.667em;
}

.foundation {
  width: 100%;
  margin-top: 78px;
  height: 433px;
}

.foundationImg1 {
  display: inline-block;
  background-image: url("../images/foundation-img1.jpg");
  background-repeat: no-repeat;
  height: 403px;
  width: 457px;
  margin-right: 10px;
}

.foundationImg2 {
  display: inline-block;
  background-image: url("../images/foundation-img2.jpg");
  background-repeat: no-repeat;
  height: 403px;
  width: 457px;
  margin-left: 10px;
}

.foundationImg1 .graduate1 {
  position: relative;
  top: -55px;
}

.foundationImg2 .graduate2 {
  position: relative;
  top: -55px;
}

#foundation .foundationImg1 .p1 {
  text-transform: uppercase;
  font-family: "Segoe UI";
  font-size: 0.800em;
  color: white;
  text-align: center;
  font-weight: 150;
  position: relative;
  top: -48px;
}

#foundation .foundationImg1 .p2 {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 2.040em;
  line-height: 0.899;
  color: white;
  text-align: center;
  position: relative;
  top: -37px;
}

#foundation .foundationImg1 .p3 {
  text-transform: uppercase;
  font-family: "Segoe UI";
  font-size: 0.800em;
  color: white;
  text-align: center;
  position: relative;
  top: -38px;
}

#foundation .foundationImg1 .p4 {
  font-family: "Calibri";
  color: white;
  font-size: 0.600em;
  text-align: center;
  position: relative;
  top: -41px;
}

#foundation .foundationImg2 .p5 {
  text-transform: uppercase;
  font-family: "Segoe UI";
  font-size: 0.800em;
  color: white;
  text-align: center;
  font-weight: 150;
  position: relative;
  top: -48px;
}

#foundation .foundationImg2 .p6 {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 2.040em;
  line-height: 0.899;
  color: white;
  text-align: center;
  position: relative;
  top: -37px;
}

#foundation .foundationImg2 .p7 {
  text-transform: uppercase;
  font-family: "Segoe UI";
  font-size: 0.800em;
  color: white;
  position: relative;
  top: -38px;
}

#foundation .foundationImg2 .p8 {
  font-family: "Calibri";
  color: white;
  font-size: 0.600em;
  text-align: center;
  position: relative;
  top: -41px;
}

/*-----------*/
/*Investments*/
/*-----------*/
#investments {
  width: 100%;
  height: 658px;
  background-image: url("../images/investments-img.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#investments p {
  font-family: "Optima";
  color: white;
}

#investments .today {
  line-height: 1.333;
  font-size: 1.2em;
  text-transform: capitalize;
  padding-top: 43px;
}

#investments .support {
  line-height: 2;
  font-size: 0.8em;
  padding-bottom: 55px;
}

/*------*/
/*Latest*/
/*------*/
#latest {
  width: 100%;
  height: 658px;
}

#latest .ourAndPress {
  font-family: "Optima";
  color: #008795;
  line-height: 1.5;
}

#latest .our {
  font-size: 0.800em;
  padding-top: 41px;
  text-align: center;
}

#latest .press {
  font-size: 1.2em;
  text-transform: capitalize;
  padding-bottom: 40px;
  text-align: center;
}

#latest .latestImage1 {
  background-image: url("../images/latest-img4.jpg");
  width: 25%;
  height: 391px;
  float: left;
}

#latest .latestImage1:hover, .latestImage1:focus {
  background-image: url("../images/latest-img1.jpg");
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

#latest .latestImage2 {
  display: inline-block;
  background-image: url("../images/latest-img2.jpg");
  width: 25%;
  height: 391px;
  float: left;
}

#latest .latestImage2:hover, .latestImage2:focus {
  background-image: url("../images/latest-img1.jpg");
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}

#latest .latestImage3 {
  display: inline-block;
  background-image: url("../images/latest-img3.jpg");
  width: 25%;
  height: 391px;
  float: left;
}

#latest .latestImage3:hover, .latestImage3:focus {
  background-image: url("../images/latest-img1.jpg");
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}

#latest .latestImage4 {
  display: inline-block;
  background-image: url("../images/latest-img4.jpg");
  width: 25%;
  height: 391px;
  float: left;
}

#latest .latestImage4:hover, .latestImage4:focus {
  background-image: url("../images/latest-img1.jpg");
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}

#latest .day {
  color: white;
  font-family: "Optima";
  font-size: 2em;
  text-align: left;
  margin-left: 15px;
  margin-top: 20px;
}

#latest .month {
  color: white;
  font-family: "Optima";
  font-size: 1.0em;
  text-align: left;
  margin-left: 15px;
  text-transform: capitalize;
}

#latest .dayOfWeek {
  color: white;
  font-family: "Optima";
  font-size: 0.600em;
  text-align: left;
  margin-left: 15px;
  text-transform: capitalize;
  transform: translate(0px, -5px);
  -webkit-transform: translate(0px, -5px);
  -moz-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
}

#latest .par {
  color: white;
  font-family: "Calibri";
  font-size: 0.467em;
  text-align: left;
  margin-left: 15px;
  margin-top: 4px;
}

#latest .readMore1 {
  background-color: #a7a9ac;
  width: 125px;
  height: 47px;
  text-align: center;
  text-decoration: none;
  font-size: 0.533em;
  font-family: "Calibri";
  display: inline-block;
  border-width: 1.5px;
  border-color: #a7a9ac;
  border-style: solid;
  margin-top: 80px;
  padding: 10px;
  color: white;
  text-transform: capitalize;
  margin-left: 15px;
}

#latest .readMore1:hover {
  background-color: transparent;
  border-color: white;
}

#latest .readMore2 {
  background-color: transparent;
  border-color: white;
}

/*-------*/
/*Contact*/
/*-------*/
#contact {
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

#contact .who p {
  font-size: 0.6em;
  font-family: "Myriad Pro";
  color: #4a4a4a;
  line-height: 1.333;
  text-transform: capitalize;
  padding: 35px 0px 10px 0px;
}

#contact .who a {
  display: block;
  font-family: "Calibri";
  font-size: 0.467em;
  color: #4a4a4a;
  line-height: 1.714;
  text-transform: capitalize;
  text-decoration: none;
}

#contact .what p {
  font-size: 0.6em;
  font-family: "Myriad Pro";
  color: #4a4a4a;
  line-height: 1.333;
  text-transform: capitalize;
  padding: 35px 0px 10px 0px;
}

#contact .what a {
  display: block;
  font-size: 0.467em;
  font-family: "Calibri";
  color: #4a4a4a;
  line-height: 1.714;
  text-transform: capitalize;
  text-decoration: none;
}

#contact .get p {
  font-size: 0.6em;
  font-family: "Myriad Pro";
  color: #4a4a4a;
  line-height: 1.333;
  text-transform: capitalize;
  padding: 35px 0px 10px 0px;
}

#contact .get a {
  display: block;
  font-size: 0.467em;
  font-family: "Calibri";
  color: #4a4a4a;
  line-height: 1.714;
  text-transform: capitalize;
  text-decoration: none;
}

#contact .mediaCenter p {
  font-size: 0.6em;
  font-family: "Myriad Pro";
  color: #4a4a4a;
  line-height: 1.333;
  text-transform: capitalize;
  padding: 35px 0px 10px 0px;
}

#contact .mediaCenter a {
  display: block;
  font-size: 0.467em;
  font-family: "Calibri";
  color: #4a4a4a;
  line-height: 1.714;
  text-transform: capitalize;
  text-decoration: none;
}

#contact .contactUs p {
  font-size: 0.6em;
  font-family: "Myriad Pro";
  color: #4a4a4a;
  line-height: 1.333;
  text-transform: capitalize;
  padding: 35px 0px 10px 0px;
}

#contact .contactUs a {
  display: block;
  font-size: 0.467em;
  font-family: "Calibri";
  color: #4a4a4a;
  line-height: 1.714;
  text-transform: capitalize;
  text-decoration: none;
}

#contact .contactUs p:nth-child(3) {
  font-size: 0.667em;
  font-family: "Optima";
  color: #4a4a4a;
  line-height: 1.333;
  text-transform: capitalize;
  padding: 35px 0px 10px 0px;
}

#contact .contactUs .email {
  background-color: white;
  width: 80%;
  height: 42px;
  border: none;
  font-size: 0.533em;
  font-family: "Calibri";
  color: #a7a9ac;
  line-height: 1.5;
  padding-left: 3%;
}

/*---------*/
/*Copyright*/
/*---------*/
#copyright {
  background-color: #168d91;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

#copyright .copyright {
  padding-top: 17px;
}

#copyright .copyright .right {
  margin-top: 7px;
}

#copyright .copyright .right p {
  float: right;
}

#copyright a {
  font-family: "Calibri";
  font-size: 0.533em;
  color: white;
  text-decoration: none;
  line-height: 1.5;
  text-transform: capitalize;
}

#copyright p {
  font-family: "Calibri";
  font-size: 0.533em;
  color: white;
  text-decoration: none;
  line-height: 1.5;
  text-transform: capitalize;
}

/*--------------------------------------------------------*/
/*-------*/
/*Mobiles*/
/*-------*/
/*--------------------------------------------------------*/
/*------*/
/*Header*/
/*------*/
@media only screen and (max-width: 425px) {
  header .site-logo {
    width: 78px;
    height: 46px;
    margin: 22px 0 14px 4px;
  }
}

@media only screen and (max-width: 425px) {
  header .user-profile li {
    padding: 0px 1px 2px 3px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .user-profile li {
    padding: 0px 1px 3px 3px;
  }
}

@media only screen and (max-width: 425px) {
  header .languageAndFont li {
    padding: 0px 1px 2px 3px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .languageAndFont li {
    padding: 0px 1px 3px 3px;
  }
}

@media only screen and (max-width: 425px) {
  header .sign {
    font-size: 0.33em;
    letter-spacing: 0.4px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .sign {
    font-size: 0.38em;
    letter-spacing: 0.4px;
  }
}

@media only screen and (max-width: 425px) {
  header .separate-user {
    font-size: 0.35em;
    transform: translate(0px, 14px);
    -webkit-transform: translate(0px, 14px);
    -moz-transform: translate(0px, 14px);
    -o-transform: translate(0px, 14px);
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .separate-user {
    font-size: 0.4em;
    transform: translate(0px, 13px);
    -webkit-transform: translate(0px, 13px);
    -moz-transform: translate(0px, 13px);
    -o-transform: translate(0px, 13px);
  }
}

@media only screen and (max-width: 425px) {
  header .languageAndFont {
    margin-top: 34px;
    margin-right: 22px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .languageAndFont {
    margin-top: 37px;
    margin-right: 11px;
  }
}

@media only screen and (max-width: 425px) {
  header .english {
    font-size: 0.34em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .english {
    font-size: 0.37em;
  }
}

@media only screen and (max-width: 425px) {
  header .arabic {
    font-size: 0.34em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .arabic {
    font-size: 0.37em;
  }
}

@media only screen and (max-width: 425px) {
  header .big-font {
    font-size: 0.54em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .big-font {
    font-size: 0.57em;
  }
}

@media only screen and (max-width: 425px) {
  header .small-font {
    font-size: 0.36em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .small-font {
    font-size: 0.39em;
  }
}

@media only screen and (max-width: 425px) {
  header .separate-options {
    font-size: 0.35em;
    transform: translate(0px, 16px);
    -webkit-transform: translate(0px, 16px);
    -moz-transform: translate(0px, 16px);
    -o-transform: translate(0px, 16px);
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .separate-options {
    font-size: 0.44em;
    transform: translate(0px, 13px);
    -webkit-transform: translate(0px, 13px);
    -moz-transform: translate(0px, 13px);
    -o-transform: translate(0px, 13px);
  }
}

@media only screen and (max-width: 768px) {
  header .navbar ul {
    margin: 0px;
    float: none;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  header .navbar ul li {
    padding: 0.1em;
    float: none;
    text-align: center;
    display: block;
  }
}

@media only screen and (min-width: 426px) and (max-width: 685px) {
  header .navbar ul li {
    display: block;
  }
}

@media only screen and (max-width: 425px) {
  header .navbar ul .hvr-underline-from-left:before {
    height: 1px;
  }
}

@media only screen and (max-width: 425px) {
  header .navbar ul li a {
    font-size: 0.42em;
  }
}

@media only screen and (max-width: 654px) {
  header .navbar .contact {
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 425px) {
  header .navbar img {
    display: none;
  }
}

/*------*/
/*Banner*/
/*------*/
@media only screen and (min-width: 200px) and (max-width: 371px) {
  #banner .owl-item .banner-image {
    height: 319px;
  }
}

@media only screen and (min-width: 372px) and (max-width: 425px) {
  #banner .owl-item .banner-image {
    height: 300px;
  }
}

@media only screen and (max-width: 425px) {
  .centre p:first-child {
    margin-top: 70px;
    font-size: 0.61em;
  }
}

@media only screen and (max-width: 425px) {
  .centre p:first-child span {
    font-size: 0.52em;
  }
}

@media only screen and (max-width: 425px) {
  .centre p:nth-child(2) {
    font-size: 0.52em;
  }
}

@media only screen and (max-width: 425px) {
  .centre p:nth-child(2) span {
    font-size: 0.61em;
  }
}

@media only screen and (max-width: 425px) {
  .centre p:nth-child(3) {
    font-size: 0.52em;
  }
}

@media only screen and (max-width: 425px) {
  .centre p:nth-child(3) span {
    font-size: 0.61em;
  }
}

@media only screen and (max-width: 425px) {
  .centre .readMore {
    font-size: 0.4em;
    width: 105px;
    border-width: 1px;
    margin-top: 29px;
    margin-right: 4px;
    padding: 8px;
  }
}

@media only screen and (max-width: 425px) {
  .centre .donateNow {
    font-size: 0.4em;
    width: 105px;
    border-width: 1px;
    margin-top: 29px;
    margin-left: 4px;
    padding: 8px;
  }
}

/*----------*/
/*Foundation*/
/*----------*/
@media only screen and (max-width: 425px) {
  #foundation {
    width: 100%;
    height: 825px;
  }
}

@media only screen and (max-width: 425px) {
  #foundation h3 {
    padding-top: 22px;
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 425px) {
  #foundation p {
    padding-top: 8px;
    font-size: 0.367em;
  }
}

@media only screen and (max-width: 699px) {
  .foundationImg1 {
    height: 257px;
    width: 70%;
    margin-right: 0px;
    margin-top: 8px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 699px) {
  .foundationImg2 {
    height: 257px;
    width: 70%;
    margin-right: 0px;
    margin-top: 50px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 425px) {
  #foundation .foundationImg1 .p1 {
    font-size: 0.500em;
    font-weight: 400;
    top: -48px;
  }
}

@media only screen and (max-width: 425px) {
  #foundation .foundationImg1 .p2 {
    font-weight: 500;
    font-size: 1.040em;
    line-height: 0.899;
    top: -60px;
  }
}

@media only screen and (max-width: 425px) {
  #foundation .foundationImg1 .p3 {
    font-size: 0.500em;
    top: -62px;
  }
}

@media only screen and (max-width: 425px) {
  #foundation .foundationImg1 .p4 {
    font-size: 0.400em;
    top: -68px;
  }
}

@media only screen and (max-width: 425px) {
  #foundation .foundationImg2 .p5 {
    font-size: 0.500em;
    font-weight: 400;
    top: -48px;
  }
}

@media only screen and (max-width: 425px) {
  #foundation .foundationImg2 .p6 {
    font-weight: 500;
    font-size: 1.040em;
    line-height: 0.899;
    top: -60px;
  }
}

@media only screen and (max-width: 425px) {
  #foundation .foundationImg2 .p7 {
    font-size: 0.500em;
    top: -62px;
  }
}

@media only screen and (max-width: 425px) {
  #foundation .foundationImg2 .p8 {
    font-size: 0.400em;
    top: -68px;
  }
}

/*-----------*/
/*Investments*/
/*-----------*/
@media only screen and (max-width: 425px) {
  #investments {
    height: auto;
  }
}

@media only screen and (max-width: 425px) {
  #investments .today {
    line-height: 1.233;
    font-size: 0.63em;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 425px) {
  #investments .support {
    line-height: 2.5;
    font-size: 0.44em;
    padding-bottom: 25px;
  }
}

@media only screen and (max-width: 425px) {
  #investments .contain {
    display: block;
  }
}

@media only screen and (max-width: 425px) {
  #investments .first-square {
    border-width: 2px;
    width: 160px;
    height: 160px;
    margin: 0px 9px 65px 10px;
  }
}

@media only screen and (max-width: 425px) {
  #investments .second-square {
    border-width: 2px;
    width: 160px;
    height: 160px;
    margin: 0px 9px 65px 10px;
  }
}

@media only screen and (max-width: 425px) {
  #investments .third-square {
    border-width: 2px;
    width: 160px;
    height: 160px;
    margin: 0px 9px 65px 10px;
  }
}

@media only screen and (max-width: 425px) {
  #investments .fourth-square {
    border-width: 2px;
    width: 160px;
    height: 160px;
    margin: 0px 9px 65px 10px;
  }
}

@media only screen and (max-width: 425px) {
  #investments .fifth-square {
    border-width: 2px;
    width: 160px;
    height: 160px;
    margin: 0px 9px 65px 10px;
  }
}

@media only screen and (max-width: 425px) {
  #investments .sixth-square {
    border-width: 2px;
    width: 160px;
    height: 160px;
    margin: 0px 9px 65px 10px;
  }
}

@media only screen and (max-width: 425px) {
  #investments .seventh-square {
    border-width: 2px;
    width: 160px;
    height: 160px;
    margin: 0px 9px 65px 10px;
  }
}

/*------*/
/*Latest*/
/*------*/
@media only screen and (max-width: 425px) {
  #latest {
    height: auto;
  }
}

@media only screen and (max-width: 425px) {
  #latest .ourAndPress {
    line-height: 1.3;
  }
}

@media only screen and (max-width: 425px) {
  #latest .our {
    font-size: 0.500em;
    padding-top: 21px;
  }
}

@media only screen and (max-width: 425px) {
  #latest .press {
    font-size: 1em;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 425px) {
  #latest .latestImage1 {
    width: 80%;
    height: 360px;
    margin-left: 10%;
    margin-bottom: 17px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 611px) {
  #latest .latestImage1 {
    width: 56%;
    height: 360px;
    margin-left: 22%;
    margin-bottom: 17px;
  }
}

@media only screen and (max-width: 425px) {
  #latest .latestImage2 {
    width: 80%;
    height: 360px;
    margin-left: 10%;
    margin-bottom: 17px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 611px) {
  #latest .latestImage2 {
    width: 56%;
    height: 360px;
    margin-left: 22%;
    margin-bottom: 17px;
  }
}

@media only screen and (max-width: 425px) {
  #latest .latestImage3 {
    width: 80%;
    height: 360px;
    margin-left: 10%;
    margin-bottom: 17px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 611px) {
  #latest .latestImage3 {
    width: 56%;
    height: 360px;
    margin-left: 22%;
    margin-bottom: 17px;
  }
}

@media only screen and (max-width: 425px) {
  #latest .latestImage4 {
    width: 80%;
    height: 360px;
    margin-left: 10%;
    margin-bottom: 17px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 611px) {
  #latest .latestImage4 {
    width: 56%;
    height: 360px;
    margin-left: 22%;
    margin-bottom: 17px;
  }
}

/*-------*/
/*Contact*/
/*-------*/
@media only screen and (max-width: 425px) {
  #contact .mediaCenter p {
    padding: 0px 0px 10px 0px;
  }
}

@media only screen and (max-width: 425px) {
  #contact .contactUs .email {
    width: 100%;
    height: 42px;
    font-size: 0.37em;
    line-height: 1.5;
  }
}

/*---------*/
/*Copyright*/
/*---------*/
@media only screen and (max-width: 425px) {
  #copyright {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 425px) {
  #copyright .copyright {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 425px) {
  #copyright .copyright .left {
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  #copyright a {
    font-size: 0.32em;
    line-height: 1.4;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  #copyright .copyright .right p {
    font-size: 0.32em;
    line-height: 1.4;
    float: none;
    text-align: center;
  }
}

/*--------------------------------------------------------*/
/*-------*/
/*Tablets*/
/*-------*/
/*--------------------------------------------------------*/
/*------*/
/*Header*/
/*------*/
@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .site-logo {
    width: 100px;
    height: 60px;
    margin: 22px 0 14px 8px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 683px) {
  header .navbar ul {
    float: none;
    text-align: center;
  }
}

@media only screen and (min-width: 426px) and (max-width: 683px) {
  header .navbar ul li {
    float: none;
    text-align: center;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .navbar ul {
    margin: 0px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .navbar ul li {
    padding: 0.2em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .navbar ul .hvr-underline-from-left:before {
    height: 2px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  header .navbar ul li a {
    font-size: 0.49em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 710px) {
  header .navbar img {
    display: none;
  }
}

@media only screen and (min-width: 684px) and (max-width: 1023px) {
  header .navbar img {
    padding: 0.5em 0 0.3em 0;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1057px) {
  header .navbar .down {
    font-size: 7px;
    margin-left: 2px;
  }
}

/*------*/
/*Banner*/
/*------*/
@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #banner .banner-image {
    height: 382px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #banner .banner-image {
    height: 382px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  .centre p:first-child {
    margin-top: 95px;
    font-size: 0.71em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  .centre p:first-child span {
    font-size: 0.62em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  .centre p:nth-child(2) {
    font-size: 0.62em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  .centre p:nth-child(2) span {
    font-size: 0.71em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  .centre p:nth-child(3) {
    font-size: 0.62em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  .centre p:nth-child(3) span {
    font-size: 0.71em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  .centre .readMore {
    font-size: 0.5em;
    width: 130px;
    border-width: 2px;
    margin-top: 39px;
    margin-right: 4px;
    padding: 9px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  .centre .donateNow {
    font-size: 0.5em;
    width: 130px;
    border-width: 2px;
    margin-top: 39px;
    margin-left: 4px;
    padding: 9px;
  }
}

/*----------*/
/*Foundation*/
/*----------*/
@media only screen and (min-width: 426px) and (max-width: 699px) {
  #foundation {
    width: 100%;
    height: 870px;
  }
}

@media only screen and (min-width: 699px) and (max-width: 1023px) {
  #foundation {
    width: 100%;
    height: 545px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 611px) {
  #foundation .foundation {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 611px) and (max-width: 1023px) {
  #foundation .foundation {
    margin-top: 27px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #foundation h3 {
    padding-top: 46px;
    font-size: 1em;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #foundation p {
    padding-top: 10px;
    font-size: 0.487em;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1023px) {
  .foundationImg1 {
    height: 287px;
    width: 44%;
    margin-right: 0px;
    margin-top: 30px;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1023px) {
  .foundationImg2 {
    height: 287px;
    width: 44%;
    margin-right: 0px;
    margin-top: 75px;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #foundation .foundationImg1 .p1 {
    font-size: 0.600em;
    font-weight: 400;
    top: -48px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #foundation .foundationImg1 .p2 {
    font-weight: 500;
    font-size: 1.140em;
    line-height: 0.899;
    top: -50px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #foundation .foundationImg1 .p3 {
    font-size: 0.500em;
    top: -52px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #foundation .foundationImg1 .p4 {
    font-size: 0.400em;
    top: -58px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #foundation .foundationImg2 .p5 {
    font-size: 0.600em;
    font-weight: 400;
    top: -48px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #foundation .foundationImg2 .p6 {
    font-weight: 500;
    font-size: 1.140em;
    line-height: 0.899;
    top: -50px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #foundation .foundationImg2 .p7 {
    font-size: 0.500em;
    top: -52px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #foundation .foundationImg2 .p8 {
    font-size: 0.400em;
    top: -58px;
  }
}

/*-----------*/
/*Investments*/
/*-----------*/
@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #investments {
    height: auto;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #investments .today {
    line-height: 1.233;
    font-size: 0.80em;
    padding-top: 35px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #investments .support {
    line-height: 2.5;
    font-size: 0.55em;
    padding-bottom: 60px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #investments .contain {
    display: block;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #investments .first-square {
    border-width: 2px;
    width: 180px;
    height: 180px;
    margin: 15px 73px 65px 62px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #investments .second-square {
    border-width: 2px;
    width: 180px;
    height: 180px;
    margin: 15px 73px 65px 62px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #investments .third-square {
    border-width: 2px;
    width: 180px;
    height: 180px;
    margin: 15px 73px 65px 62px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #investments .fourth-square {
    border-width: 2px;
    width: 180px;
    height: 180px;
    margin: 15px 73px 65px 62px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #investments .fifth-square {
    border-width: 2px;
    width: 180px;
    height: 180px;
    margin: 15px 73px 65px 62px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #investments .sixth-square {
    border-width: 2px;
    width: 180px;
    height: 180px;
    margin: 15px 73px 65px 62px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #investments .seventh-square {
    border-width: 2px;
    width: 180px;
    height: 180px;
    margin: 15px 73px 65px 62px;
  }
}

/*------*/
/*Latest*/
/*------*/
@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #latest {
    height: auto;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #latest .ourAndPress {
    line-height: 1.3;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #latest .our {
    font-size: 0.600em;
    padding-top: 31px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #latest .press {
    font-size: 1.1em;
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 612px) and (max-width: 1023px) {
  #latest .latestImage1 {
    width: 33%;
    height: 370px;
    margin-left: 15%;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 612px) and (max-width: 1023px) {
  #latest .latestImage2 {
    width: 33%;
    height: 370px;
    margin-left: 2%;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 612px) and (max-width: 1023px) {
  #latest .latestImage3 {
    width: 33%;
    height: 370px;
    margin-left: 15%;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 612px) and (max-width: 1023px) {
  #latest .latestImage4 {
    width: 33%;
    height: 370px;
    margin-left: 2%;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 612px) and (max-width: 660px) {
  #latest .readMore1 {
    margin-top: 48px;
  }
}

@media only screen and (min-width: 612px) and (max-width: 660px) {
  #latest .readMore2 {
    margin-top: 48px;
  }
}

@media only screen and (min-width: 612px) and (max-width: 660px) {
  #latest .readMore3 {
    margin-top: 48px;
  }
}

@media only screen and (min-width: 612px) and (max-width: 660px) {
  #latest .readMore4 {
    margin-top: 48px;
  }
}

/*-------*/
/*Contact*/
/*-------*/
@media only screen and (min-width: 426px) and (max-width: 767px) {
  #contact .mediaCenter p {
    padding: 0px 0px 10px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #contact .mediaCenter p {
    padding: 35px 0px 10px 0px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 991px) {
  #contact .contactUs .email {
    width: 100%;
    height: 42px;
    font-size: 0.433em;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #contact .mediaCenter {
    margin-top: 35px;
  }
}

/*-------*/
/*Contact*/
/*-------*/
@media only screen and (min-width: 426px) and (max-width: 991px) {
  #contact .mediaCenter p {
    padding: 0px 0px 10px 0px;
  }
}

/*---------*/
/*Copyright*/
/*---------*/
@media only screen and (min-width: 426px) and (max-width: 991px) {
  #copyright {
    padding-bottom: 22px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 991px) {
  #copyright .copyright {
    padding-top: 12px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 991px) {
  #copyright .copyright .left {
    text-align: center;
  }
}

@media only screen and (min-width: 426px) and (max-width: 991px) {
  #copyright a {
    font-size: 0.40em;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 426px) and (max-width: 991px) {
  #copyright .copyright .right p {
    font-size: 0.40em;
    line-height: 1.4;
    float: none;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */